@model IEnumerable<TinyERP4Fun.Models.Common.City>
<select id="city" name="CityId" class="form-control">
    <option value=null></option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>